<h1>Product Show</h1>

<h2> <%= @product.name %> </h2> 
<h3>$ <%= @product.price %> </h3> 
<h4> <%= @product.description %> </h4> 
<a href="/products">All Products</a>
<a href="/products/<%= @product.id %>/edit">Edit Products</a> 